/* -------styling for game info display */

/* -------------form styling*/
.formArea{
    border: solid black 3px;
    border-radius: 10%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%
}
.gameInput{
    margin-bottom: 10px;
}
.mainContainerForGameInfo{
    border: 1px solid black;
    display: flex;
    width: 30%;
    overflow: hidden;
}
.gameListHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgOfGame{
    width: 200px;
    height: 200px;
}